.hero {
    .swiper-navigation-container {
        @apply invisible absolute bottom-2/4 z-10 hidden w-full justify-between opacity-0 xl:visible xl:flex xl:opacity-100;
    }

    .swiper-pagination-bullet-active {
        @apply !bg-primary;
    }

    .swiper-pagination-bullet {
        @apply !mx-0.5 h-1.5 w-1.5 opacity-100;
    }

    .swiper-slide {
        @apply min-h-56 !rounded-xl lg:h-[600px];

        img {
            @apply h-full w-full !rounded-xl object-cover;
        }
    }
}

.root {
    background-position: 42% -7rem;

    @apply relative my-24;

    .card {
        @apply bg-primary min-h-[290px] w-6/9 rounded-lg p-6 text-xl break-words md:w-4/9 lg:w-[350px] lg:p-8 xl:w-[290px];
    }

    .root-title {
        @apply relative text-[2.3rem];

        &::after {
            content: '';
            @apply bg-primary absolute bottom-5 block h-[1px] w-full;
        }
    }
}

.why {
    /* .after{
    &::after{
      content: '';
      @apply w-full h-[3px] bg-white relative block bottom-9.5 mx-auto rounded-full;
    }
  } */
}

.get-in-touch {
    @apply my-22;
}

@media (max-width: 1024px) {
    .root {
        background-position: 38% -2.5rem;
        background-size: 32rem;
    }
}

@media (min-width: 2048px) {
    .root {
        background-position: 48% -5.5rem;
        background-size: 38rem;
    }
}
