.swiper .swiper-wrapper {
    @apply lg:!flex lg:!justify-center;
}

.card-bg {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 34%, rgba(255, 198, 3, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 34%, rgba(255, 198, 3, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 34%, rgba(255, 198, 3, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffc603", GradientType=1);
}
